// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

$primary:   #20c997;
$secondary: #d63384;
$success:   #479f76;
$info:      #0dcaf0;
$warning:   #ffc107;
$danger:    #dc3545;
$light:     #a6e9d5;
$dark:      #343a40;

// Bootstrap
@import '~bootstrap/scss/bootstrap';