@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


.chip {
  display: inline-block;
  padding: 3px 15px;
  border-radius: 25px;
  background-color: #f1f1f1;
}