@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");


.chip {
  display: inline-block;
  padding: 3px 15px;
  border-radius: 25px;
  background-color: #f1f1f1;
}

.container {
  width: 100%;
padding-right: var(--bs-gutter-x, 6.75rem);
padding-left: var(--bs-gutter-x, 6.75rem);
margin-right: auto;
margin-left: auto;
}

.image-container {
  padding:0px 10px 30px;
  overflow:hidden; 
  position:relative;
  content: right;
}

.image{ 
  position:absolute;
  min-height: 100%;
}